venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

config.py

access_token.txt
refresh_token.txt
spotr/static/access_token.txt
spotr/static/refresh_token.txt
*access_token.txt
*refresh_token.txt

*.json